// .profile-table td{
//     padding-left: 10px;
//     padding-right: 10px;
// }

.studies-table td.mat-cell:last-of-type{
	padding-right: 18px;
}

#formacion_academica, #languages, #datosPersonales{
	margin-top: 15px;
	margin: 15px;
}

.profile-footer{
	padding-left: 15px;
	padding-bottom: 10px;
}

.center{
	text-align: center;
}

.profile-modify{
	width: 90px;
}

.black{
	font-weight: bold;
}

.profile-list .mat-list-item{
	height: auto;
	padding-top: 6px;
	padding-bottom: 6px;
}