
<mat-sidenav-container class="example-container" >
    <mat-toolbar class="" color="primary" >
        <div>
          <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
          </button>
        </div>
        <span>Frontend avanzado</span>
    </mat-toolbar>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                 (closed)="events.push('close!')">
      <mat-nav-list>
        <a mat-list-item routerLink="/">Logout</a>
        <a mat-list-item routerLink="/admin/">Dashboard</a>
        <a mat-list-item routerLink="/admin/profile">Profile</a>
        <a mat-list-item routerLink="/admin/offers">Offers</a>
        <a mat-list-item routerLink="/admin/config">Configuración</a>
        <a mat-list-item [routerLink]="['/admin/offers/my-offers']">Mis ofertas</a>
      </mat-nav-list>
    </mat-sidenav>
    
    <router-outlet></router-outlet>
      
  </mat-sidenav-container>
