<form [formGroup]="empresaForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="nombre">Nombre comercial</label>
    <input type="text" name="nombre" id="nombre" formControlName="nombre">
  </div>
  <div class="form-group">
    <label for="razonSocial">Razón social</label>
    <input type="text" name="razonSocial" id="razonSocial" formControlName="razonSocial">
  </div>
  <div class="form-group">
    <label for="cif">CIF</label>
    <input type="text" name="cif" id="cif" formControlName="cif">
  </div>
  <div class="form-group">
    <label for="direcion">Dirección</label>
    <input type="text" name="direcion" id="direcion" formControlName="direcion">
  </div>
  <div class="form-group">
    <label for="provincia">Provincia</label>
    <input type="text" name="provincia" id="provincia" formControlName="provincia">
  </div>
  <div class="form-group">
    <label for="municipio">Municipio</label>
    <input type="text" name="municipio" id="municipio" formControlName="municipio">
  </div>
  <div class="form-group">
    <label for="url">URL</label>
    <input type="text" name="url" id="url" formControlName="url">
  </div>
  <div class="form-group">
    <label for="contactoNombre">contactoNombre</label>
    <input type="text" name="contactoNombre" id="contactoNombre" formControlName="contactoNombre">
  </div>
  <div class="form-group">
    <label for="contactoTelefono">contactoTelefono</label>
    <input type="text" name="contactoTelefono" id="contactoTelefono" formControlName="contactoTelefono">
  </div>
  <div class="form-group">
    <label for="contactoEmail">contactoEmail</label>
    <input type="text" name="contactoEmail" id="contactoEmail" formControlName="contactoEmail">
  </div>
  <button type="submit" [disabled]="!empresaForm.valid" class="btn btn-secondary">Guardar</button>
</form>